$maxWidth: 1920; // максимальная ширина страницы
$minWidth: 320; // минимальная ширина телефона
$maxWidthContainer: 1200; // ширина контейнера с учетом padding слева и справа
$containerWidth: 1160; // ширина контейнера из макета

$mainOffset: 15; // отступы безопасности для контейнера
$mainFont: ''; // указать здесь основное семейство шрифта

$headerHeight: 100;
$footerHeight: 100;
$default-color: #8d8d8d;
$whiteColor: #fff;
$blackColor: #131313;
$title-color: #29282d;
$grayColor: #6f6f6f;
$redColor: #ff4040;
$bg: #e7e7e7;
$accent-color: #fe3e57;
$firstAccentColor: $blackColor;
$secondAccentColor: $redColor;

$mainFontFamily: $mainFont, sans-serif;
$fontColor: $blackColor;
$fontSize: rem(16);
$mainRadius: rem(10);

$standartTrans: all 280ms ease-in-out 0ms;
$btnBoxShadow:  0px 2px 3px rgba(#000, 10%), 
                0px 8px 3px rgba(#000, 10%);

$lightBoxShadow:  0 0 2px 0 rgba(#000, 10%), 
                  0 0 4px 0 rgba(#000, 10%), 
                  0 0 8px 0 rgba(#000, 10%);

$hoverBoxShadow:  0 0 5px 0 rgba(#000, 10%), 
                  0 0 10px 0 rgba(#000, 10%), 
                  0 0 15px 0 rgba(#000, 10%);

                  .title {
                    text-align: center;
                    font-size: 48px;
                    font-weight: 700;
                    line-height: 65px;
                    color: $title-color;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                  }

                  .text {
                    text-align: center;
                         max-width: 570px;
                      margin: 0 auto 55px;
                      color: $default-color;
                  }

                  .btn {
                    background-color: $accent-color;
                              color: #fff;
                             text-transform: uppercase;
        
                             padding: 14px 35px;
                  }