@use 'sass:math';

// Подключение шрифтов из папки "./src/fonts" =======================================================================================================================
@import 'config/fonts';


// Подключение sass функций и миксинов =======================================================================================================================
@import 'config/functions';
@import 'config/mixins';

// Подключение переменных =======================================================================================================================
@import 'config/vars';

// Обнуление =======================================================================================================================
@import 'config/reset';

// Подлючение кастомного скрола для всего сайта =======================================================================================================================
@import 'config/scrollbar';

// Общие параметры, шаблоны(заготовки) и вспомагательные классы =======================================================================================================================
@import 'config/base';

// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import 'layout/header';
@import 'layout/footer';

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.header {
 padding: 40px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item  + .menu__list-item {
       padding-left: 35px;
    }

    &__list-link {
        padding-bottom: 2px;
        color: $title-color;
        transition: all .7s ;
        &:hover {
            color: $accent-color;
            border-bottom: 1px solid $accent-color;
        }
    }

    &__list-link--active {
        color: $accent-color;
        border-bottom: 1px solid $accent-color;
    }

    

}

.user-nav {
    &__num {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent-color;
        top: -16px;
        right: -14px;
        color: #fff;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }
}


.user-nav__link  {
 padding-left: 25px;
 position: relative;
 font-family: $mainFontFamily;

 
}

